<div id="viewContainer" style="width: 800px; height: 600px;"></div>



@section Scripts
{
    <script type="text/javascript" src="~/Scripts/pixi.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/viewer.js"></script>
}